[Desktop Entry]
Version=42.5.0.22187
Name=Webex
Comment=Webex
Exec=/opt/Webex/bin/CiscoCollabHost %U
Icon=/home/chfrag/.local/share/WebexLauncher/sparklogosmall.png
Terminal=false
Type=Application
Categories=Utility;Application;
MimeType=x-scheme-handler/webexteams
